.App{
background-color: orange;
padding-top: 20px
}


.All {
  text-align: center;
  background-color: white;
  display: grid;
  grid-template-rows: 90vw 90vw 90vw;
  grid-template-columns: 30vh 30vh 30vh 30vh 30vh 30vh;
  grid-gap: 20px;
  padding: 30px;
  background-image: url(../src/images.jpeg);
}
form {
  text-align: center;
}
.one1{
  border: 1px solid #ccc;
  background-color: #f1f1f1;
}
.two2{
  border: 1px solid #ccc;
  background-color: #f1f1f1;
}
.three3{
  border: 1px solid #ccc;
  background-color: #f1f1f1;
}
.four4{
  border: 1px solid #ccc;
  background-color: #f1f1f1;
}
.five5{
  border: 1px solid #ccc;
  background-color: #f1f1f1;
}
.six6{
  border: 1px solid #ccc;
  background-color: #f1f1f1;
}
button{
  width: 100%;
  text-align: center;
  margin-top: 30px;
  border: 5px solid yellow; 
  padding: 10px
}




/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
