h1 {
    color: green;
    text-align: center; 
  }
.tab4 {
    background-color: inherit;
    float: center;
    border: 5px solid yellow;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
  }
  
.tab4:hover {
    background-color: #ddd;
  }
  
.tab4.active {
    background-color: #ccc;
  }